.relative.z-10.pb-24
  .mx-auto.max-w-3xl.text-center
    %h2.mt-2.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-6xl#info Wedding Info
    .grid-cols-1.lg:grid-cols-2.grid.mt-16.bg-white.rounded-xl.p-8
      .flex.flex-col 
        .text-3xl.flex.justify-center
          Wedding Venue
        .mt-4.text-xl.font-medium 
          Central Hall
        .mt-2.text-xl.font-medium 
          Edinburgh
        .mt-2.text-xl.font-medium 
          EH3 9BP
        .mt-2.text-xl.font-medium 
          = link_to 'Map', "https://www.google.com/maps?q=Central+Hall+Edinburgh", target: "_blank"
      .flex.flex-col.mt-8.xl:mt-0 
        .text-3xl.flex.justify-center
          Timings
        .mt-4.text-xl.font-medium
          1pm Guest Arrival
        .mt-2.text-xl.font-medium 
          1.30pm Ceremony
        .mt-2.text-xl.font-medium 
          7pm Evening Guests
        .mt-2.text-xl.font-medium 
          Midnight Home time 


          