
.mx-auto.max-w-7xl.px-6.py-16.sm:py-24.lg:px-8
  .mx-auto.max-w-2xl.text-center
    %h2.mt-2.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-6xl Q & As
    %p.mt-6.text-xl.leading-7.text-gray-600
      Feel free to ask us any questions at
      %a.font-semibold.text-indigo-600.hover:text-indigo-500{:href => "#"} agnesandmort@gmail.com
  .mt-20.bg-white.rounded-xl.p-8
    %dl.space-y-16.sm:grid.sm:grid-cols-2.sm:gap-x-6.sm:gap-y-16.sm:space-y-0.lg:grid-cols-3.lg:gap-x-10
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 When do I need to RSVP by?
        %dd.mt-2.text-xl.leading-7.text-gray-600 Please RSVP using the form above by the 25th May.
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 How should I get to the ceremony?
        %dd.mt-2.text-xl.leading-7.text-gray-600 There is parking available at the church and reception. Otherwise there should be taxis available from Faversham train station, but we recommend booking in advance.
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 Is the wedding indoors or outdoors?
        %dd.mt-2.text-xl.leading-7.text-gray-600 The ceremony is inside a church, but our reception will be in the garden. Wear stilettos at your own risk!
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 Are children invited?
        %dd.mt-2.text-xl.leading-7.text-gray-600 Sorry, but children are not invited - we hope you can enjoy a day off to celebrate with us!
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 Do I need to book a taxi?
        %dd.mt-2.text-xl.leading-7.text-gray-600 We have organised coaches to do shuttle runs to Faversham town centre and Premier Inn from midnight. We recommend booking a taxi if you are wanting to go directly to your accommodation. 
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 What about gifts?
        %dd.mt-2.text-xl.leading-7.text-gray-600 The most important thing to us is that you're able to celebrate with us on our wedding day. However, if you wish to give a gift, we will gratefully accept a contribution towards our honeymoon!