
.mx-auto.max-w-7xl.px-6.py-16.sm:py-24.lg:px-8
  .mx-auto.max-w-2xl.text-center
    %h2.mt-2.text-4xl.font-bold.tracking-tight.text-gray-900.sm:text-6xl Q & As
    %p.mt-6.text-xl.leading-7.text-gray-600
      Feel free to ask us any questions at
      %span.font-semibold.text-indigo-600.hover:text-indigo-500{:href => "#"} 
        bentindall999@hotmail.com
      %span
        or
      %span.font-semibold.text-indigo-600.hover:text-indigo-500
        amy.f.mackinnon@gmail.com
  .mt-20.bg-white.rounded-xl.p-8
    %dl.space-y-16.sm:grid.sm:grid-cols-2.sm:gap-x-6.sm:gap-y-16.sm:space-y-0.lg:gap-x-10
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 When do I need to RSVP by?
        %dd.mt-2.text-xl.leading-7.text-gray-600 Please RSVP by the 1st March using the form above.
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 Is there parking at the venue?
        %dd.mt-2.text-xl.leading-7.text-gray-600 There is no parking available at the venue, but there is a car park across the road - Riego Street, Edinburgh, EH3 9BL.
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 Do you have a taxi number?
        %dd.mt-2.text-xl.leading-7.text-gray-600 Central Taxis: 0131 229 2468
        %dd.mt-2.text-xl.leading-7.text-gray-600 City Cabs: 0131 228 1211
      %div
        %dt.text-xl.font-semibold.leading-7.text-gray-900 What about gifts?
        %dd.mt-2.text-xl.leading-7.text-gray-600 The most important thing to us is that you're able to celebrate with us on our wedding day. However, if you wish to give a gift, we will gratefully accept a contribution towards our honeymoon!

        